In [52]:
import os
os.environ['KMP_DUPLICATE_LIB_OK']='True'

import pandas as pd
import re

import numpy as np

from sklearn.model_selection import train_test_split, RandomizedSearchCV
from xgboost import XGBClassifier
from sklearn import metrics
from sklearn.metrics import roc_auc_score

In [2]:
df_main = pd.read_csv('./driver_policy.csv')
vehicles_data = pd.read_csv('./vehicles.csv')

In [3]:
vehicles_data

,Unnamed: 0,policy_id,car_no,ownership_type,color,age,make_model
0,6,policy_74571,1,leased,other,4.0,BMW : R1200CL
1,7,policy_74571,2,owned,blue,3.0,ACURA : TL
2,15,policy_1998,1,owned,gray,7.0,BMW : 750LI
3,29,policy_28085,1,owned,gray,4.0,MERCEDES-BENZ : G55 AMG
4,34,policy_64282,1,owned,black,4.0,BMW : 550I GT
...,...,...,...,...,...,...,...
169232,345054,policy_34204,4,owned,gray,6.0,TOYOTA : RAV4
169233,345055,policy_34204,5,loaned,black,8.0,GMC : SIERRA 1500
169234,345060,policy_621,1,owned,other,6.0,DODGE : CHARGER
169235,345061,policy_621,2,owned,black,3.0,GMC : SAVANA 4500
169236,345062,policy_621,3,loaned,other,4.0,HONDA : CB900F 919

In [4]:
vehicles_data = vehicles_data.drop(['Unnamed: 0', 'ownership_type', 'color', 'make_model'], axis='columns')

In [5]:
vehicles_data

           policy_id  car_no  age
0       policy_74571       1  4.0
1       policy_74571       2  3.0
2        policy_1998       1  7.0
3       policy_28085       1  4.0
4       policy_64282       1  4.0
...              ...     ...  ...
169232  policy_34204       4  6.0
169233  policy_34204       5  8.0
169234    policy_621       1  6.0
169235    policy_621       2  3.0
169236    policy_621       3  4.0

[169237 rows x 3 columns]

In [6]:
new = pd.DataFrame(vehicles_data.groupby('policy_id')['car_no'].max())

In [7]:
new = new.reset_index()

In [8]:
vehicles_data[vehicles_data['policy_id']=='policy_99996']['age'].sum()

15.0

In [9]:
list_sum_age = []
for i in new['policy_id']:
    
    list_sum_age.append(vehicles_data[vehicles_data['policy_id']==i]['age'].sum())

In [10]:
len(list_sum_age)

49162

In [11]:
new['sum_age'] = list_sum_age

In [12]:
new

          policy_id  car_no  sum_age
0        policy_100       6     44.0
1       policy_1000       2     11.0
2      policy_10001       2     10.0
3      policy_10002       5     36.0
4      policy_10004       2     10.0
...             ...     ...      ...
49157  policy_99994       4     30.0
49158  policy_99996       4     15.0
49159  policy_99997       4     29.0
49160  policy_99998       1      3.0
49161  policy_99999       6     34.0

[49162 rows x 3 columns]

In [13]:
df_merged = pd.merge(df_main, new)

In [14]:
df_merged = df_merged.drop(['Unnamed: 0', 'X', 'discount', 'Home_policy_ind', 'zip', 'state_id', 'county_name'
                           , 'primary_parking'], axis='columns')

In [15]:
df_merged = df_merged.drop(['Prior_carrier_grp', 'Cov_package_type'], axis = 'columns')

In [16]:
df_merged = df_merged.drop(['Quote_dt', 'Agent_cd', 'CAT_zone'], axis = 'columns')

In [17]:
df_merged

,quoted_amt,credit_score,policy_id,number_drivers,num_loaned_veh,num_owned_veh,num_leased_veh,total_number_veh,convert_ind,split,driver_age,n_safty_rating,car_no,sum_age
0,"$5,153",613.0,policy_87209,2,1,2,0,3,0.0,Train,99,148.0,4,21.0
1,"$9,870",576.0,policy_89288,1,1,1,2,4,NaN,Test,56,62.0,4,11.0
2,"$3,090",631.0,policy_91413,2,1,2,1,4,0.0,Train,98,140.0,4,28.0
3,"$2,860",573.0,policy_23460,1,2,3,0,5,NaN,Test,30,90.0,2,11.0
4,"$14,917",602.0,policy_71845,2,0,1,2,3,0.0,Train,113,163.0,4,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49157,"$4,042",590.0,policy_28284,1,2,2,0,4,0.0,Train,52,90.0,4,20.0
49158,"$5,743",688.0,policy_67016,2,2,2,0,4,0.0,Train,138,147.0,4,25.0
49159,"$2,230",637.0,policy_30163,1,1,3,1,5,0.0,Train,19,39.0,2,14.0
49160,"$8,428",581.0,policy_63982,2,2,2,0,4,1.0,Train,106,156.0,5,24.0
49161,"$1,220",778.0,policy_54019,3,2,1,0,3,0.0,Train,71,198.0,5,25.0

In [18]:
df_merged.isna().sum()

quoted_amt            112
credit_score          300
policy_id               0
number_drivers          0
num_loaned_veh          0
num_owned_veh           0
num_leased_veh          0
total_number_veh        0
convert_ind         12291
split                   0
driver_age              0
n_safty_rating         77
car_no                  0
sum_age                 0
dtype: int64

In [19]:
df_train = df_merged[df_merged['split']=='Train']

In [20]:
df_train

,quoted_amt,credit_score,policy_id,number_drivers,num_loaned_veh,num_owned_veh,num_leased_veh,total_number_veh,convert_ind,split,driver_age,n_safty_rating,car_no,sum_age
0,"$5,153",613.0,policy_87209,2,1,2,0,3,0.0,Train,99,148.0,4,21.0
2,"$3,090",631.0,policy_91413,2,1,2,1,4,0.0,Train,98,140.0,4,28.0
4,"$14,917",602.0,policy_71845,2,0,1,2,3,0.0,Train,113,163.0,4,18.0
5,"$4,620",704.0,policy_29027,1,2,2,0,4,0.0,Train,18,66.0,5,30.0
6,"$11,470",611.0,policy_75562,4,2,2,2,6,0.0,Train,93,297.0,3,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49157,"$4,042",590.0,policy_28284,1,2,2,0,4,0.0,Train,52,90.0,4,20.0
49158,"$5,743",688.0,policy_67016,2,2,2,0,4,0.0,Train,138,147.0,4,25.0
49159,"$2,230",637.0,policy_30163,1,1,3,1,5,0.0,Train,19,39.0,2,14.0
49160,"$8,428",581.0,policy_63982,2,2,2,0,4,1.0,Train,106,156.0,5,24.0
49161,"$1,220",778.0,policy_54019,3,2,1,0,3,0.0,Train,71,198.0,5,25.0

In [21]:
df_test = df_merged[df_merged['split']=='Test']

In [22]:
df_test

,quoted_amt,credit_score,policy_id,number_drivers,num_loaned_veh,num_owned_veh,num_leased_veh,total_number_veh,convert_ind,split,driver_age,n_safty_rating,car_no,sum_age
1,"$9,870",576.0,policy_89288,1,1,1,2,4,NaN,Test,56,62.0,4,11.0
3,"$2,860",573.0,policy_23460,1,2,3,0,5,NaN,Test,30,90.0,2,11.0
7,"$2,980",679.0,policy_43809,4,0,2,0,2,NaN,Test,91,238.0,2,6.0
8,"$1,945",773.0,policy_4590,3,1,3,2,6,NaN,Test,144,194.0,4,9.0
9,"$5,829",680.0,policy_65525,1,2,3,0,5,NaN,Test,55,72.0,5,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49137,"$2,922",727.0,policy_8331,1,3,3,0,6,NaN,Test,43,28.0,4,17.0
49144,"$5,437",658.0,policy_4090,5,1,2,0,3,NaN,Test,133,318.0,4,19.0
49146,"$3,287",586.0,policy_39956,1,2,2,0,4,NaN,Test,18,51.0,1,6.0
49150,"$3,567",693.0,policy_68766,3,0,2,1,3,NaN,Test,87,183.0,4,27.0
49154,"$2,036",NaN,policy_58769,3,1,2,1,4,NaN,Test,91,198.0,3,12.0

In [23]:
df_train.isna().sum()

quoted_amt           87
credit_score        224
policy_id             0
number_drivers        0
num_loaned_veh        0
num_owned_veh         0
num_leased_veh        0
total_number_veh      0
convert_ind           0
split                 0
driver_age            0
n_safty_rating       62
car_no                0
sum_age               0
dtype: int64

In [24]:
df_train = df_train.dropna(axis=0)

In [25]:
df_train = df_train.reset_index()

In [26]:
df_train['quoted_amt']

0         $5,153
1         $3,090
2        $14,917
3         $4,620
4        $11,470
          ...
36494     $4,042
36495     $5,743
36496     $2,230
36497     $8,428
36498     $1,220
Name: quoted_amt, Length: 36499, dtype: object

In [27]:
list_quoted_price = []
for i in range(len(df_train)):
    list_quoted_price.append(int(re.sub(r'[^0-9]', '', df_train['quoted_amt'][i])))

In [28]:
df_train = df_train.drop(['quoted_amt'], axis = 'columns')
df_train['quoted_amt'] = list_quoted_price

In [29]:
df_train = df_train.drop(['index', 'policy_id', 'split'], axis = 'columns')

In [30]:
df_train

,credit_score,number_drivers,num_loaned_veh,num_owned_veh,num_leased_veh,total_number_veh,convert_ind,driver_age,n_safty_rating,car_no,sum_age,quoted_amt
0,613.0,2,1,2,0,3,0.0,99,148.0,4,21.0,5153
1,631.0,2,1,2,1,4,0.0,98,140.0,4,28.0,3090
2,602.0,2,0,1,2,3,0.0,113,163.0,4,18.0,14917
3,704.0,1,2,2,0,4,0.0,18,66.0,5,30.0,4620
4,611.0,4,2,2,2,6,0.0,93,297.0,3,21.0,11470
...,...,...,...,...,...,...,...,...,...,...,...,...
36494,590.0,1,2,2,0,4,0.0,52,90.0,4,20.0,4042
36495,688.0,2,2,2,0,4,0.0,138,147.0,4,25.0,5743
36496,637.0,1,1,3,1,5,0.0,19,39.0,2,14.0,2230
36497,581.0,2,2,2,0,4,1.0,106,156.0,5,24.0,8428
36498,778.0,3,2,1,0,3,0.0,71,198.0,5,25.0,1220

In [31]:
x_train = df_train.drop(['convert_ind'], axis='columns')
y_train = df_train['convert_ind']

In [32]:
x = np.asarray(x_train)
y = np.asarray(y_train)


x_train_train, x_train_test, y_train_train, y_train_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [33]:
model = XGBClassifier(random_state=42)

In [34]:
x_train_train

array([[6.550e+02, 2.000e+00, 2.000e+00, ..., 6.000e+00, 3.400e+01,
        4.616e+03],
       [5.770e+02, 1.000e+00, 2.000e+00, ..., 3.000e+00, 2.100e+01,
        7.447e+03],
       [6.040e+02, 2.000e+00, 1.000e+00, ..., 2.000e+00, 1.500e+01,
        5.407e+03],
       ...,
       [5.500e+02, 3.000e+00, 2.000e+00, ..., 3.000e+00, 1.400e+01,
        7.769e+03],
       [5.880e+02, 1.000e+00, 2.000e+00, ..., 2.000e+00, 1.100e+01,
        6.758e+03],
       [4.790e+02, 5.000e+00, 1.000e+00, ..., 2.000e+00, 9.000e+00,
        7.544e+03]])

In [35]:
y_train_train

array([0., 0., 0., ..., 0., 0., 0.])

In [36]:
model.fit(x_train_train, y_train_train)

XGBClassifier(random_state=42)

In [37]:
from sklearn.metrics import accuracy_score

In [38]:
y_pred = model.predict(x_train_test)

In [39]:
accuracy_score(y_pred, y_train_test)

0.8887671232876713

In [70]:
import catboost
from catboost import CatBoostClassifier

clf_catboost = CatBoostClassifier(iterations=100, random_state=42)
clf_catboost.fit(x_train_train, y_train_train, eval_set=(x_train_test, y_train_test))

Learning rate set to 0.198543
0:	learn: 0.5854141	test: 0.5854268	best: 0.5854268 (0)	total: 2.88ms	remaining: 285ms
1:	learn: 0.5141890	test: 0.5140569	best: 0.5140569 (1)	total: 5.15ms	remaining: 252ms
2:	learn: 0.4653446	test: 0.4651484	best: 0.4651484 (2)	total: 7.64ms	remaining: 247ms
3:	learn: 0.4305501	test: 0.4303389	best: 0.4303389 (3)	total: 9.88ms	remaining: 237ms
4:	learn: 0.4057409	test: 0.4056365	best: 0.4056365 (4)	total: 12.6ms	remaining: 239ms
5:	learn: 0.3881740	test: 0.3882024	best: 0.3882024 (5)	total: 16.1ms	remaining: 252ms
6:	learn: 0.3754685	test: 0.3754999	best: 0.3754999 (6)	total: 18.7ms	remaining: 248ms
7:	learn: 0.3659408	test: 0.3661273	best: 0.3661273 (7)	total: 21ms	remaining: 242ms
8:	learn: 0.3594617	test: 0.3597418	best: 0.3597418 (8)	total: 23.6ms	remaining: 239ms
9:	learn: 0.3542958	test: 0.3547044	best: 0.3547044 (9)	total: 26.7ms	remaining: 240ms
10:	learn: 0.3506180	test: 0.3511605	best: 0.3511605 (10)	total: 29.3ms	remaining: 237ms
11:	learn: 0.3479488	test: 0.3485347	best: 0.3485347 (11)	total: 32ms	remaining: 235ms
12:	learn: 0.3460206	test: 0.3467316	best: 0.3467316 (12)	total: 34.5ms	remaining: 231ms
13:	learn: 0.3447563	test: 0.3456677	best: 0.3456677 (13)	total: 37.5ms	remaining: 230ms
14:	learn: 0.3432029	test: 0.3443019	best: 0.3443019 (14)	total: 40.1ms	remaining: 227ms
15:	learn: 0.3419187	test: 0.3431703	best: 0.3431703 (15)	total: 43.1ms	remaining: 226ms
16:	learn: 0.3410724	test: 0.3425741	best: 0.3425741 (16)	total: 45.9ms	remaining: 224ms
17:	learn: 0.3404977	test: 0.3419925	best: 0.3419925 (17)	total: 48.4ms	remaining: 220ms
18:	learn: 0.3397825	test: 0.3414148	best: 0.3414148 (18)	total: 50.9ms	remaining: 217ms
19:	learn: 0.3390680	test: 0.3408420	best: 0.3408420 (19)	total: 53.9ms	remaining: 216ms
20:	learn: 0.3384796	test: 0.3406076	best: 0.3406076 (20)	total: 56.5ms	remaining: 212ms
21:	learn: 0.3377742	test: 0.3401599	best: 0.3401599 (21)	total: 59.2ms	remaining: 210ms
22:	learn: 0.3374442	test: 0.3400146	best: 0.3400146 (22)	total: 61.6ms	remaining: 206ms
23:	learn: 0.3373051	test: 0.3398912	best: 0.3398912 (23)	total: 64.1ms	remaining: 203ms
24:	learn: 0.3366176	test: 0.3394318	best: 0.3394318 (24)	total: 67.1ms	remaining: 201ms
25:	learn: 0.3363143	test: 0.3392918	best: 0.3392918 (25)	total: 69.9ms	remaining: 199ms
26:	learn: 0.3361421	test: 0.3392563	best: 0.3392563 (26)	total: 72.7ms	remaining: 196ms
27:	learn: 0.3357834	test: 0.3390301	best: 0.3390301 (27)	total: 75.4ms	remaining: 194ms
28:	learn: 0.3355504	test: 0.3390012	best: 0.3390012 (28)	total: 78.3ms	remaining: 192ms
29:	learn: 0.3352004	test: 0.3387317	best: 0.3387317 (29)	total: 81.7ms	remaining: 191ms
30:	learn: 0.3350141	test: 0.3386554	best: 0.3386554 (30)	total: 84.8ms	remaining: 189ms
31:	learn: 0.3348369	test: 0.3385967	best: 0.3385967 (31)	total: 87.7ms	remaining: 186ms
32:	learn: 0.3344589	test: 0.3385289	best: 0.3385289 (32)	total: 90.2ms	remaining: 183ms
33:	learn: 0.3338319	test: 0.3379623	best: 0.3379623 (33)	total: 92.9ms	remaining: 180ms
34:	learn: 0.3335172	test: 0.3378092	best: 0.3378092 (34)	total: 95.8ms	remaining: 178ms
35:	learn: 0.3331997	test: 0.3376001	best: 0.3376001 (35)	total: 99ms	remaining: 176ms
36:	learn: 0.3330645	test: 0.3376140	best: 0.3376001 (35)	total: 102ms	remaining: 173ms
37:	learn: 0.3329210	test: 0.3377108	best: 0.3376001 (35)	total: 105ms	remaining: 171ms
38:	learn: 0.3328146	test: 0.3377207	best: 0.3376001 (35)	total: 108ms	remaining: 169ms
39:	learn: 0.3325720	test: 0.3375926	best: 0.3375926 (39)	total: 111ms	remaining: 166ms
40:	learn: 0.3323303	test: 0.3376393	best: 0.3375926 (39)	total: 113ms	remaining: 163ms
41:	learn: 0.3321864	test: 0.3376037	best: 0.3375926 (39)	total: 116ms	remaining: 160ms
42:	learn: 0.3320508	test: 0.3376152	best: 0.3375926 (39)	total: 119ms	remaining: 158ms
43:	learn: 0.3319396	test: 0.3375962	best: 0.3375926 (39)	total: 122ms	remaining: 155ms
44:	learn: 0.3316995	test: 0.3375412	best: 0.3375412 (44)	total: 124ms	remaining: 152ms
45:	learn: 0.3313826	test: 0.3374312	best: 0.3374312 (45)	total: 127ms	remaining: 149ms
46:	learn: 0.3312426	test: 0.3374207	best: 0.3374207 (46)	total: 130ms	remaining: 146ms
47:	learn: 0.3310737	test: 0.3373086	best: 0.3373086 (47)	total: 132ms	remaining: 143ms
48:	learn: 0.3308692	test: 0.3373842	best: 0.3373086 (47)	total: 135ms	remaining: 141ms
49:	learn: 0.3307786	test: 0.3373413	best: 0.3373086 (47)	total: 138ms	remaining: 138ms
50:	learn: 0.3303939	test: 0.3370135	best: 0.3370135 (50)	total: 141ms	remaining: 135ms
51:	learn: 0.3302447	test: 0.3370661	best: 0.3370135 (50)	total: 143ms	remaining: 132ms
52:	learn: 0.3300335	test: 0.3371284	best: 0.3370135 (50)	total: 146ms	remaining: 130ms
53:	learn: 0.3299751	test: 0.3371775	best: 0.3370135 (50)	total: 149ms	remaining: 127ms
54:	learn: 0.3298200	test: 0.3371607	best: 0.3370135 (50)	total: 154ms	remaining: 126ms
55:	learn: 0.3296778	test: 0.3371644	best: 0.3370135 (50)	total: 156ms	remaining: 122ms
56:	learn: 0.3294579	test: 0.3370954	best: 0.3370135 (50)	total: 159ms	remaining: 120ms
57:	learn: 0.3290949	test: 0.3371942	best: 0.3370135 (50)	total: 162ms	remaining: 118ms
58:	learn: 0.3288578	test: 0.3372586	best: 0.3370135 (50)	total: 165ms	remaining: 115ms
59:	learn: 0.3286925	test: 0.3372633	best: 0.3370135 (50)	total: 167ms	remaining: 112ms
60:	learn: 0.3285321	test: 0.3372608	best: 0.3370135 (50)	total: 170ms	remaining: 109ms
61:	learn: 0.3283825	test: 0.3372285	best: 0.3370135 (50)	total: 173ms	remaining: 106ms
62:	learn: 0.3282802	test: 0.3372558	best: 0.3370135 (50)	total: 176ms	remaining: 103ms
63:	learn: 0.3281021	test: 0.3372484	best: 0.3370135 (50)	total: 179ms	remaining: 101ms
64:	learn: 0.3279169	test: 0.3373345	best: 0.3370135 (50)	total: 181ms	remaining: 97.7ms
65:	learn: 0.3277005	test: 0.3373888	best: 0.3370135 (50)	total: 184ms	remaining: 94.7ms
66:	learn: 0.3276390	test: 0.3373955	best: 0.3370135 (50)	total: 186ms	remaining: 91.8ms
67:	learn: 0.3274575	test: 0.3373010	best: 0.3370135 (50)	total: 189ms	remaining: 89ms
68:	learn: 0.3272839	test: 0.3372587	best: 0.3370135 (50)	total: 191ms	remaining: 85.9ms
69:	learn: 0.3271929	test: 0.3373213	best: 0.3370135 (50)	total: 195ms	remaining: 83.8ms
70:	learn: 0.3271312	test: 0.3373029	best: 0.3370135 (50)	total: 199ms	remaining: 81.1ms
71:	learn: 0.3270108	test: 0.3373062	best: 0.3370135 (50)	total: 202ms	remaining: 78.4ms
72:	learn: 0.3267807	test: 0.3371149	best: 0.3370135 (50)	total: 205ms	remaining: 75.7ms
73:	learn: 0.3265150	test: 0.3369715	best: 0.3369715 (73)	total: 207ms	remaining: 72.8ms
74:	learn: 0.3262700	test: 0.3370819	best: 0.3369715 (73)	total: 210ms	remaining: 70.1ms
75:	learn: 0.3261677	test: 0.3371063	best: 0.3369715 (73)	total: 214ms	remaining: 67.5ms
76:	learn: 0.3259948	test: 0.3371498	best: 0.3369715 (73)	total: 217ms	remaining: 64.7ms
77:	learn: 0.3259178	test: 0.3371561	best: 0.3369715 (73)	total: 220ms	remaining: 61.9ms
78:	learn: 0.3259023	test: 0.3371334	best: 0.3369715 (73)	total: 222ms	remaining: 59.1ms
79:	learn: 0.3258276	test: 0.3371601	best: 0.3369715 (73)	total: 225ms	remaining: 56.3ms
80:	learn: 0.3257832	test: 0.3371796	best: 0.3369715 (73)	total: 228ms	remaining: 53.6ms
81:	learn: 0.3254411	test: 0.3372464	best: 0.3369715 (73)	total: 232ms	remaining: 51ms
82:	learn: 0.3252503	test: 0.3373308	best: 0.3369715 (73)	total: 234ms	remaining: 48ms
83:	learn: 0.3251825	test: 0.3372553	best: 0.3369715 (73)	total: 237ms	remaining: 45.1ms
84:	learn: 0.3250919	test: 0.3372610	best: 0.3369715 (73)	total: 240ms	remaining: 42.4ms
85:	learn: 0.3248600	test: 0.3373093	best: 0.3369715 (73)	total: 243ms	remaining: 39.5ms
86:	learn: 0.3247784	test: 0.3372806	best: 0.3369715 (73)	total: 246ms	remaining: 36.7ms
87:	learn: 0.3246549	test: 0.3373072	best: 0.3369715 (73)	total: 248ms	remaining: 33.9ms
88:	learn: 0.3243226	test: 0.3371968	best: 0.3369715 (73)	total: 251ms	remaining: 31.1ms
89:	learn: 0.3241812	test: 0.3372193	best: 0.3369715 (73)	total: 254ms	remaining: 28.3ms
90:	learn: 0.3239594	test: 0.3371639	best: 0.3369715 (73)	total: 257ms	remaining: 25.5ms
91:	learn: 0.3239155	test: 0.3371934	best: 0.3369715 (73)	total: 261ms	remaining: 22.7ms
92:	learn: 0.3237403	test: 0.3372871	best: 0.3369715 (73)	total: 264ms	remaining: 19.9ms
93:	learn: 0.3236055	test: 0.3373817	best: 0.3369715 (73)	total: 267ms	remaining: 17ms
94:	learn: 0.3234809	test: 0.3374002	best: 0.3369715 (73)	total: 269ms	remaining: 14.2ms
95:	learn: 0.3234356	test: 0.3373598	best: 0.3369715 (73)	total: 272ms	remaining: 11.3ms
96:	learn: 0.3233337	test: 0.3374397	best: 0.3369715 (73)	total: 275ms	remaining: 8.49ms
97:	learn: 0.3232748	test: 0.3374390	best: 0.3369715 (73)	total: 278ms	remaining: 5.67ms
98:	learn: 0.3230564	test: 0.3374622	best: 0.3369715 (73)	total: 281ms	remaining: 2.83ms
99:	learn: 0.3230374	test: 0.3374504	best: 0.3369715 (73)	total: 283ms	remaining: 0us

bestTest = 0.3369715058
bestIteration = 73

Shrink model to first 74 iterations.

In [71]:
cb_auc = roc_auc_score(y_train_test, clf_catboost.predict_proba(x_train_test)[:,1])
print("AUC score of CatBoost: {:.3f}".format(cb_auc))

AUC score of CatBoost: 0.642

In [ ]:
### how to deal with categorical data?
### hyperparameter setting?